.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px;
  background-color: rgba(0,0,0,0.6);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  overflow: auto;
}

.container {
  position: relative;
}

.card {
  display: flex;
  max-width: 880px;
  background: #fff;
  border-radius: 10px;
  animation: popupZoomOut .15s ease-in-out;
  box-shadow: 0 30px 60px rgba(0,0,0,.2);
  overflow: hidden;
}

.closeIcon {  
  position: absolute;
  top: 0;
  right: -35px;
  cursor: pointer;
}

.imageBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.image {
  width: 90%;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 40%;
  min-height: 610px;
  padding: 30px 20px;
  background-color: #fcfcfc;
}

.title {
  font-size: 26px;
  line-height: 1.1;
}

.subtitle {
  font-size: 14px;
  color: rgb(135, 134, 134);
  margin-bottom: 5px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-size: 15px;
  line-height: 1.375;
  margin-bottom: 15px;
}

.addExtraText {
  font-size: 18px;
  margin-top: 10px;
}

.extraList {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-bottom: 24px;
}

.button {
  margin-top: auto;
  width: 100%;
}

@keyframes popupZoomOut {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.98,.98,.98);
    transform: scale3d(.98,.98,.98);
  }

  100% {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}


@media screen and (max-width: 1024px) {
  .imageBlock {
    width: 50%;
  }

  .description {
    width: 50%;
  }

  .closeIcon {  
    right: 12px;
    top: 12px;
  }

  .svgPath {
    fill: rgba(0, 0, 0, 0.7);
  }

  .description {
    padding: 40px 20px;
  }
} 

@media screen and (max-width: 768px) {
  .wrapper {
    align-items: flex-start;
    padding: 10px;
  }

  .card {
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 20px);
  }

  .imageBlock {
    width: 100%;
  }

  .image {
    width: 50%;
    padding: 50px 0 0 10px;
  }

  .description {
    width: 100%;
    background:#fcfcfc;
    padding: 20px 20px;
    min-height: 100%;
    flex: 1;
  }

  .extraList {
    justify-content: space-around;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    padding: 10px;
  }
  
  .description {
    padding: 20px 10px;
  }

  .extraList {
    justify-content: space-between;
  }
}