.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 17px 17px;
  text-decoration: none;
  background: linear-gradient(45deg, #ff4756, #fe8b77);
  font-weight: 700;
  line-height: 14px;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  z-index: 1;
}

.container::before {
  border-radius: inherit;
  background: linear-gradient(45deg, #ff4756, #fec477);
  content: '';    
  display: block;
  height: 100%;
  position: absolute;
  top: 0; 
  left: 0;
  opacity: 0;
  width: 100%;
  z-index: -100;
  transition: opacity .3s;
}

.container:focus {
  background: linear-gradient(45deg, #ff4756, #fec477);
}

.amount {
  margin: 0 0 0 10px;
}

@media (min-width: 1024px) {
  .container:hover:before {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 15px 12px;
  }

  .icon {
    width: 12px;
  }
}