.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  border-bottom: 1px solid #dadada;
}

.container:last-child {
  border: none;
}

.info, .actions {
  display: flex;
  align-items: center;
}

.description {
  display: flex;
  flex-direction: column;
}

.name {
  color: #000;
  font-size: 22px;
  line-height: 23px;
  margin-bottom: 4px;
}

.details {
  font-size: 12px;
  line-height: 1.4;
  color: #878686;
}

.image {
  width: 67px;
  margin-right: 12px;
}

.amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98px;
  margin-right: 12px;
  margin-left: 12px;
}

.count {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 39px;
  width: 30px;
  background-color: transparent;
  border: 1px solid #ff4756;
  color: #ff4756;
  border-radius: 10px;
  outline: none;
  font-size: 20px;
  cursor: pointer;
  transition: all .3s;
}

.price {
  min-width: 120px;
  text-align: center;
  font-size: 21px;
  color: #373535;
}

.delete {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 5px;
}

.deleteIcon {
  transition: all .3s;
}

@media (min-width: 1024px) {
  .count:hover, .count:focus {
    background-color: #ff4756;
    color: #fff;
  }

  .delete:hover .deleteIcon, .delete:focus .deleteIcon {
    fill: #c00010;
  }
}

@media screen and (max-width: 768px) {
  .amount {
    width: 90px;
  }

  .name {
    font-size: 18px;
  }

  .price {
    font-size: 18px;
    min-width: 100px;
  }

  .count {
    height: 35px;
  }
}

@media screen and (max-width: 560px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .info {
    margin-bottom: 20px;
  }

  .actions {
    width: 100%;
    justify-content: space-between;
  }

  .amount {
    margin-right: 0;
    margin-left: 0;
  }
}