.title {
  font-size: 36px;
  margin-bottom: 30px;
}

.list {
  background: #fff;
  list-style: none;
  padding: 10px;
  border-radius: 10px 20px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 40px;
}

.back {
  background: transparent;
  color: #000;
  border: 1px solid #babfd0;
}

.back:focus {
  background: transparent;
  color: #ff4756;
  border: 1px solid #ff4756;
}

.back::before {
  background: transparent;
}

.link {
  text-decoration: none;
  outline: none;
}

.total {
  margin-top: 50px;
  font-size: 21px;
  text-align: end;
}

.ordersTitle {
  font-size: 20px;
  margin-bottom: 20px;
}

.closeIcon {
  position: absolute;
  top: 0;
  right: -35px;
  cursor: pointer;
}

.orders {
  margin-bottom: 50px;
}

@media (min-width: 1024px) {
  .back:hover {
    background: transparent;
    color: #ff4756;
    border: 1px solid #ff4756;
  }
}

@media (max-width: 1024px) {
  .title {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 480px) {
  .back, .button {
    padding: 17px 17px;
  }
}