.title {
  font-size: 36px;
  margin-bottom: 30px;
}

.list {
  background: #fff;
  list-style: none;
  padding: 10px;
  border-radius: 10px 20px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 40px;
}

.back {
  background: transparent;
  color: #000;
  border: 1px solid #babfd0;
}

.back:focus {
  background: transparent;
  color: #ff4756;
  border: 1px solid #ff4756;
}

.back::before {
  background: transparent;
}

.link {
  text-decoration: none;
  outline: none;
}

.total {
  margin-top: 50px;
  font-size: 21px;
  text-align: end;
}

.compliteWrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.6);
  z-index: 100;
  padding: 45px;
  overflow: auto;
} 

.complite {
  position: relative;
  background: #fff;
  border-radius: 10px;
  animation: popupZoomOut .15s ease-in-out;
  box-shadow: 0 30px 60px rgba(0,0,0,.2);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.ordersTitle {
  font-size: 20px;
  margin-bottom: 20px;
}

@keyframes popupZoomOut {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.98,.98,.98);
    transform: scale3d(.98,.98,.98);
  }

  100% {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.compliteImg {
  width: 60px;
  height: 60px;
  animation: iconRotate .4s ease-in-out;
}

@keyframes iconRotate {
  0% {
    transform: rotate(-360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.compliteTitle {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.closeIcon {
  position: absolute;
  top: 0;
  right: -35px;
  cursor: pointer;
}

.orders {
  margin-bottom: 50px;
}

@media (min-width: 1024px) {
  .back:hover {
    background: transparent;
    color: #ff4756;
    border: 1px solid #ff4756;
  }
}

@media (max-width: 1024px) {
  .title {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 480px) {
  .back, .button {
    padding: 17px 17px;
  }
}